<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="">
    <meta name="author" content="">
<<<<<<< HEAD
    <title>%TITLE%</title>
    <link rel="shortcut icon" href="%PUBLIC_URL%/images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  </head>
=======
    <title><%= htmlWebpackPlugin.options.data.title %></title>
  </head>

>>>>>>> d08e749871b2f338cbbcde622668add1e20c35ce
  <body>
    <div id="root"></div>
  </body>
</html>
