{
  "parser": "babel-eslint",
  "rules": {
    "space-before-function-paren": [2, "never"],
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "extends": "airbnb-base",
  "plugins": ["babel"]
}
